<!DOCTYPE html>
<html>
<head>
    <title>Netzilla</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="topnav">
        <a href="/">
            <img class="logo" src="https://preview.redd.it/8g5hszxn3bn61.jpg?width=1080&crop=smart&auto=webp&s=83c03e68724e08e0921a0868dfb47ecbfdac7407" alt="Logo" />
        </a>
        <h1 class="logo_text">Net-zilla</h1>
    </div>

    <div class = "content">
        {% for era, movies_list in posters.items() %}
        <h2 class="era_title">{{ era }}</h2>
        <div class="underline"></div>
        <div class ="posters">
            {% for movie_name, movie_year, poster_url, ent_type, country in posters[era] %}
                <div class="poster">
                    <img src="{{ poster_url }}" alt="{{ movie_name }}" 
                    onclick="posterClick(event, '{{ movie_year }}')">
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="bottomLine"></div>
</body>

<script>
function posterClick(event, movie_year, movie_country) {
    fetch("/poster_click", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            title: event.target.alt,
            year: movie_year,
            country: movie_country
        })
    })
    .then(response => response.text())
    .then(html => {
        document.open();
        document.write(html);
        document.close();
    })
    .catch(error => console.error("Error:", error));
}

</script>

</html>