<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netzilla - {{ movie.title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="topnav">
        <a href="/">
            <img class="logo" src="https://preview.redd.it/8g5hszxn3bn61.jpg?width=1080&crop=smart&auto=webp&s=83c03e68724e08e0921a0868dfb47ecbfdac7407" alt="Back to Home" />
        </a>
        <h1 class="logo_text">Net-zilla</h1>
    </div>

    <div class="content">

        <h2 class="movie_title">{{ movie.title }}</h2>
        <p class="movie_year">{{ movie.year }}</p>

        <div class="movie_details">

            <div class="movie_poster_wrapper">
                <img class="movie_poster" src="{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
            </div>

            {% if movie.trailer %}
            <iframe 
                class="movie_trailer"
                src="{{ movie.trailer | replace('watch?v=', 'embed/') }}" 
                title="{{ movie.title }} Trailer"
                frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            {% else %}
            <div class="movie_trailer">
                <p>Trailer not available</p>
            </div>
            {% endif %}

        </div>

        <div class="movie_info">

            <div class="movie_row_details">
                <p class="left">
                    <span class="label">GENRE:</span>
                    <span class="value">{{ movie.genres | join(', ') }}</span>
                </p>
                <p class="center">
                    <span class="label">DIRECTOR:</span>
                    <span class="value">{{ movie.director or 'N/A' }}</span>
                </p>
                <p class="right">
                    <span class="label">SCREENPLAY:</span>
                    <span class="value">{{ movie.screenplay or 'N/A' }}</span>
                </p>
            </div>

            <p><strong>Plot:</strong> {{ movie.overview }}</p>
            <p><strong>⭐</strong> {{ movie.ratings }}</p>

        </div>

    </div>

</body>
</html>